<!DOCTYPE html>

<html lang="es">
    <head>
        <title>SportShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../static/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <a href="index.html">Volver</a>
        <div class="card">
            <h2>Registra tu tarjeta de compra</h2>
            <form>
                <input type="text" placeholder="Nombre en la tarjeta">
                <input type="text" placeholder="Número de tarjeta">
                <input type="text" placeholder="Fecha de vencimiento">
                <input type="text" placeholder="Código de seguridad">
                <input type="submit" value="Registrar">
                
            </form>
        </div>
    </body>
</html>
