<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SportShop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
        <title>Formulario Registro</title>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <h2 style="text-align: center">Registrarse</h2>
        <br>
        <hr>
        
        <div th:if="${clientes !=null and !clientes.empty}">
            <table border="0">
            
            <tbody>
                <body>
        <section class="form-register">
            <h4>Registro</h4>
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre">
            <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su apellido">
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su correo">
            <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su contraseña">
            <p>Estoy de acuerdo <a href="#">Terminos y condiciones</p>
            <input type="submit" value="Registrar" />
            <p> <a href="#">¿Ya tengo cuenta?</a></p>
            
        </section>
        
    </body>
            </tbody>
        </table>
        </div>
        
        <div th:if="${clientes == null or clientes.empty}">
            <h3>No hay clientes que mostrar</h3>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
