<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SportShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    <body>
        <section class="">
            <h4>Registro</h4>
            <input class="" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre">
            <input class="" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su apellido">
            <input class="" type="email" name="correo" id="correo" placeholder="Ingrese su correo">
            <input class="" type="password" name="correo" id="correo" placeholder="Ingrese su contraseña">
            <p>Estoy de acuerdo <a href="#">Termnos y condiciones</p>
            <input class="" type="submit" value="Registrar">
            <p> <a href="#">¿Ya tengo cuenta?</a></p>
        </section>
        
    </body>
</html>
