@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.header{
    display: flex;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: #303030;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #303030;
    display: block;
    font-weight: 600;
}

#men{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.bg{
    position: absolute;
    width: 600px;
    height: 700px;
    z-index: -1;
    right: 0;
}

.header-info{
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.header-txt{
    white: 50%;
    padding-right: 35px;
    height: 400px;
}

.header-txt h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.header-txt p{
    font-size: 16px;
    color: #545454;
    margin: 0 0 10px 0;
}


.btn-1{
    display: inline-block;
    background-color: #FF9F00;
    padding: 13px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover{
    background-color: #EE9003;
}

.header-img{
    width: 50%;
}

.header-img img{
    width: 650px;
}
