<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SportShop</title>
        <meta charset="UTF-8"/>
    <body th:replace="~{layout/plantilla :: body}">
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <section th:replace="~{layout/plantilla :: section}"/>
        <main th:replace="~{layout/plantilla :: section_productos}"/>
       
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>